body {
    font-family: "Open-sans", sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
  }
  

  
  .container {
    margin: auto;
  }
  
  /* COMMON CLASSES */
  .primary-text {
    color: #797979;
  }
 
  
  .primary-background {
    background: #797979;
  }
  

 
  

 
  
  /* CONTACT */
  .todo-form form {
    background: rgba(49, 43, 49, 0.6);
    color: #fff;
    padding: 20px;
  }
  
  .todo-form form input[type="text"] {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
  }
  
  .todo-form form textarea {
    width: 50%;
    height: 100px;
  }
  
  .todo-form form button {
    width: 50%;
    padding: 10px 0;
    border: 0;
    background: rgba(49, 43, 49, 0.6);
    color: #fff;
  }
  
  .todo-form form label {
    text-transform: uppercase;
  }
  .todoitems{
      margin-top: 20px;
      border: 1px solid #797979;
      width: 100%;
      text-align: left;
      
  }
 
  #todo-list{
      text-align: left;
      border: 1px solid #797979;
     
  }
  #todo-list:hover{
      background: #797979;
      padding: 10px;
      border: 1px solid  rgba(49, 43, 49, 0.6);

     
  }